.user {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;

  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  width: 40%;
  font-weight: bold;
}

.role,
.status,
.action {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
